<div class="row">
  <div class="col-auto">
    <h2>Welcome to the coolest tech blog ever! You'll learn all the facts you didn't realize you needed to know.</h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="flex-column">
  {{#each posts as |post|}}
  <div class="card-body">
    <a href="/post/{{post.id}}">
      <div class="card-header flex-row justify-space-between" >
        <div class="col-8 card-title" id="{{post.id}}"> {{post.post_title}}</div>
    <div class="col-4">posted by {{post.user.username}} on {{format_date post.createdAt}}</div>
  </div>
  </a>
  <p class="card-body">
    {{post.post_body}}
  </p>
</div>
</div>

</div>
{{/each}}
</div>
{{/if}}